/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.blocks-schema-viewer {
	&__modal {
		width: 90dvw;
		max-width: 1200px;
		max-height: 90dvh !important;

		.components-base-control__field {
			margin-block-end: 0;

			input {
				max-height: 36px !important;
				min-height: 36px !important;
				height: 36px !important;
			}
		}
	}

	.components-modal__content {
		padding-block-end: 16px;
	}

	&__textarea {
		margin-block-start: 16px;
	}
}
